altgraph==0.17.5
certifi==2026.7.22
cffi==2.1.0
curl_cffi==0.15.0
linkify-it-py==2.1.0
macholib==1.16.4
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
packaging==26.2
platformdirs==4.11.0
pycparser==3.0
Pygments==2.20.0
pyinstaller-hooks-contrib==2026.6
rich==15.0.0
setuptools==83.0.0
textual==8.2.8
typing_extensions==4.16.0
uc-micro-py==2.0.0
yt-dlp==2026.7.4
